{
  "user": {
    "email": "your@email",
    "name": "Your Name"
  },
  "run_list": [
    "rbenv",
    "vim",
    "vi-mode",
    "alfred",
    "java",
    "chrome",
    "dropbox",
    "gitx",
    "spotify",
    "1password",
    "unix-essentials",
    "chefup-bin"
  ]
}
// vim: ft=javascript
