{
  "email": "your@email",
  "name": "Your Name",
  "run_list": [
    "vim",
    "vi-mode",
    "alfred",
    "java",
    "chrome",
    "dropbox",
    "gitx",
    "spotify",
    "1password",
    "unix-essentials",
    "chefup-bin"
  ]
}
